<mat-card>
  <mat-card-header>
    <mat-card-title>Hommer Simpson</mat-card-title>
    <mat-card-subtitle>Duff!</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    src="https://i.pinimg.com/236x/dc/99/01/dc9901138f67ad1e0f939141ef5427a8--simpsons-quotes-los-simpsons.jpg"
    alt="Homer Donuts">

  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="accent">LIKE</button>
    <button mat-button color="primary">SHARE</button>
  </mat-card-actions>
</mat-card>